* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: rgb(61, 113, 211);
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 20px 40px;
    font-size: 1.25rem;
    font-weight: normal;
    cursor: pointer;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 2;
    background: white;
    width: 500px;
    max-width: 80%;
    /* aspect-ratio: 1/1; */
}
.modal--active {
    transform: translate(-50%, -50%) scale(1);
}
.modal__header {
    font-size: 24px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal__title {
    font-size: 1.25rem;
    font-weight: bold;
}
.modal__close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.modal__body {
    padding: 10px 15px;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
.overlay--active {
    opacity: 1;
    pointer-events: all;
}



